# DATABASE
DATABASE_URL=''

# DISCORD
DISCORD_WEBHOOK_URL=''

# TERABOX
TERABOX_APP_ID='250528'
TERABOX_REMOTE_DIR='/trackgeek-backups'

# BACKUP
BACKUP_PREFIX='trackgeek'
RETENTION_DAYS='7'
CRON_SCHEDULE='0 */12 * * *'
RUN_ON_BOOT='true'
DRY_RUN='false'
TZ='America/Sao_Paulo'